.btn_click{
	cursor:pointer;
}

.add_base tr.active td{width:50% !important;}

.iris-slider-offset{
	width:auto !important;
	height: auto !important;
	top: 4px !important;
	bottom: 4px !important;
	background:none;
	border:none;
}

.time_error{border: 1px solid red !important; }


.booking-status{
	width:75px !important;
}

