.button .bkx_next_button {
    background: #368200;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    padding: 15px 24px;
    margin-right: 0;
    border: none;
    font-weight: 700
}
.bkx_previous_button {
    background: #fff!important;
    color: #368200!important;
    font-size: 15px;
    text-transform: uppercase;
    padding: 15px 24px;
    margin-right: 0;
    border: 1px solid #368200!important;
    font-weight: 700
}
.customer_booking_form_wrapper {
    position: relative;
    padding: 0;
    max-width: 100%!important;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .16), 0 2px 2px 0 rgba(0, 0, 0, .12)
}
.customer_booking_form_wrapper.bkx_wrapper .bkx_heading {
    width: 100%;
    border-bottom: 1px solid #f3f3f3;
    padding: 24px
}
.customer_booking_form_wrapper.bkx_wrapper .bkx_heading h4 {
    font-size: 20px
}
.customer_booking_form_wrapper.bkx_wrapper .bkx_heading h4 span {
    color: #aaa
}
.customer_booking_form_wrapper.bkx_wrapper .bkx_heading h3 {
    margin-top: 20px
}
.customer_booking_form_wrapper.bkx_wrapper .bkx_page_fields {
    padding: 24px
}
.customer_booking_form_wrapper.bkx_wrapper #field_4_12 {
    padding: 0;
    border: none
}
.customer_booking_form_wrapper.bkx_wrapper .bkx_page_footer.booking-page-footer {
    padding: 28px 22px;
    border-top: 1px solid #f3f3f3;
    width: 100%;
    margin: 0
}
.customer_booking_form_wrapper.bkx_wrapper .bkx_page_footer.booking-page-footer .one_half {
    width: 46%
}
.customer_booking_form_wrapper.bkx_wrapper .bkx_wrapper .top_label .gfield_label {
    font-size: 16px;
    color: #656565
}
.customer_booking_form_wrapper #loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    bottom: 0;
    right: 0;
    margin: auto
}
.customer_booking_form_wrapper .booking-status-div .booking-status {
    width: auto
}
.customer_booking_form_wrapper .booking-status div {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background: #73ac3a
}
 
#date_time_display .full {
    background: #eaeaea
}
#booking_details_value {
    padding-left: 16px!important;
}
.page-id-5824 .et-learn-more h3.heading-more {
    background: 0 0;
    font-size: 18px;
    padding: 15px 35px 22px 2px;
    color: #368200!important
}
.page-id-5824 .et-learn-more .learn-more-content {
    padding: 15px 30px 15px 20px
}
.page-id-5824 .et-learn-more {
    background: 0 0;
    border: none;
    border-bottom: solid 1px #f6f6f6;
    margin: 1px 0 0
}
.page-id-5824 .et-learn-more h3.heading-more span.et_learnmore_arrow {
    box-shadow: none
}
.page-id-5824 .et-learn-more span.et_learnmore_arrow:after {
    font-size: 25px;
    position: absolute;
    left: 10px;
    top: 15px;
    color: #7bbc4c
}
.page-id-5824 .et-learn-more .heading-more.open span.et_learnmore_arrow:after {
    content: "2"
}
.page-id-5824 #et-main-area .et-tabs-container {
    background: #fff
}
.page-id-5824 .et-tabs-container h3 {
    color: #368200!important
}
.ui-progressbar-value.ui-widget-header {
    background: #368200!important
}
.bkx_progressbar_wrapper.ui-widget-content {
    border: 1px solid #73ad3a!important
}
.ui-widget-content {
    border: none!important
}
.ui-widget-header {
    background: 0 0!important;
    color: #000!important;
    text-transform: uppercase
}
.ui-datepicker table,
.ui-datepicker th {
    font-family: open sans;
    font-size: 1.02em;
    font-weight: 300;
    text-transform: uppercase
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    background: #368200!important;
    color: #fff!important
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    background: #fff
}
.ui-state-default {
    background: #fff!important
}
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    background: #73ad3a!important;
    color: #000!important
}
.ui-state-default .ui-datepicker {
    width: 100%
}
.ui-datepicker {
    width: 21em!important
}
.ui-datepicker td a,
.ui-datepicker td span {
    padding: 0 .5em 1.01em .8em!important;
    font-size: 16px!important
}
#PaymentDataForm li.gfield,
#PaymentDataForm li.gfield .ginput_container select {
    margin-bottom: 20px!important
}
.date-block {
    margin: 0 0 20px
}
.date-block label {
    display: block;
    float: left
}
.date-block .hasDatepicker {
    width: 300px!important;
    float: left;
    margin: -5px 0 0 15px!important
}
.ui-datepicker .ui-widget-header {
    background: 0 0;
    font-size: 18px;
    text-transform: uppercase
}
#main-content .container {
    padding-top: 58px
}
.page-id-199 .et_pb_fullwidth_header {
    padding-bottom: 0!important
}
.current_level {
    display: block;
    padding-bottom: 50px
}
.page-id-199 #main-content {
    margin-bottom: 150px
}
.current_level a {
    font-weight: 700;
    text-decoration: underline;
    padding-left: 5px
}
.et_pb_section_video_bg embed,
.et_pb_section_video_bg iframe,
.et_pb_section_video_bg object,
.et_pb_section_video_bg video {
    max-width: 100%!important;
    width: 100%!important;
    height: 100%!important
}
.page-id-4642 #login-popup {
    margin: 0 auto
}
.button.bkx_next_button {
    background: #368200;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    padding: 15px 24px;
    margin-right: 0;
    border: none;
    font-weight: 700
}
.hedding,
.mainBlockProfile p {
    color: #434443
}
.practHead {
    padding: 10px
}
.practHead h3 {
    padding: 0;
    margin: 0;
    font-size: 17px
}
.page-id-156 #bkx_fields_12 {
    padding: 15px!important
}
.enqReview {
    padding: 10px
}
#bkx_submit_button_19 {
    margin-right: 10px;
    margin-bottom: 15px
}
#et-secondary-menu .forBussiness a {
    font-weight: 700
}
#main-content,
.et_pb_section {
    background-color: rgba(234, 224, 200, .05)!important
}
#et-footer-nav,
#footer-bottom {
    background: #434443
}
#et-secondary-nav li ul,
#page-container #top-header {
    background: #434443!important
}
.vcodebutton {
    margin: 15px 0 0
}
#main-content.profilePage {
    background-color: rgba(234, 224, 200, .05)!important
}
.menuheader {
    padding: 0;
    background: #fff;
    border-bottom: solid 1px #368200
}
.mainBlockProfile {
    padding: 13px;
    border-top: none!important;
    margin-bottom: 50px!important;
    border-bottom: solid 1px #368200!important
}
.mainBlockProfile,
.menu li a.active {
    border: 1px solid #368200;
    background: #fbfbf7;
    border-bottom: 0;
    margin-bottom: -1px
}
.profilemainTitle {
    border-bottom: 1px solid #434443;
    margin-bottom: 30px;
    position: relative
}
.profilemainTitle span {
    display: block
}
.profilemainTitle .iconsBlock {
    float: left;
    width: 98px;
    text-transform: uppercase
}
.iconsBlock:after {
    left: 4.5%;
    top: 59px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(67, 68, 67, 0);
    border-top-color: #434443;
    border-width: 9px;
    margin-left: -9px
}
.profile.section_2 .col-2,
.profile.section_3 .col-1 {
    width: 57%;
    float: left
}
.profile.section_2 .col-3,
.profile.section_3 .col-2 {
    width: 40%;
    float: right
}
.profile.section_3 .map_refresh .et_pb_column_4_4 .et_pb_map {
    height: 324px!important
}
#section_3 {
    padding: 30px 0
}
.services-listing01 {
    border: 1px solid #368200;
    background: #fff;
    padding: 15px;
    margin-bottom: 20px
}
.menuheader.fixed {
    position: fixed;
    top: 103px;
    width: 1080px;
    margin: 0 auto;
    z-index: 9
}
.filter-wrapper.fixed {
    position: fixed;
    top: 193px;
    width: 1060px;
    margin: 0 auto;
    z-index: 9999
}
.hedding {
    font-size: 20px;
    font-weight: 400
}
.hedding span {
    font-size: 14px;
    color: #a1a1a1;
    font-weight: 400;
    display: block;
    padding: 5px 0
}
.description em {
    font-style: normal;
    color: #434443
}
.review-section {
    text-align: right
}
.unlike {
    margin-left: 10px
}
#id_thumb_down-2,
#id_thumb_up-2 {
    cursor: pointer
}
#product .col-1 {
    width: 25%;
    float: left
}
#product .col-2 {
    width: 55%;
    float: left;
    padding-top: 10px
}
#product .col-3 {
    width: 20%;
    float: left;
    text-align: center;
    padding-top: 15px
}
#product .col-3 .enq-btn {
    float: none
}
#packages .col-1 {
    width: 25%;
    float: left
}
#packages .col-2 {
    width: 55%;
    float: left;
    padding-top: 10px
}
#packages .col-3 {
    width: 20%;
    float: left;
    text-align: center;
    padding-top: 15px
}
#packages .col-3 .enq-btn {
    float: none
}
.section_4 {
    margin-bottom: 50px
}
.menuheader .menu {
    float: left
}
.menuheader .menu li {
    float: left;
    text-align: center;
    width: 96px
}
.menuheader .menu li a {
    padding: 10px 15px;
    display: block
}
.social-menu li.fav,
.social-menu li.fav-set {
    padding-left: 35px!important;
    font-weight: 700
}
.menuheader .menu li span {
    display: block;
    height: 35px
}
.social-menu {
    float: right;
    margin-top: 25px
}
.social-menu li {
    float: left;
    margin: 0 15px
}
.social-menu li a {
    display: block
}
.complete,
.hide_cal,
.menuheader .mobile_menu_bar {
    display: none
}
.social-menu li.fav {
    background: url(images/fav-icon.png) left center no-repeat
}
.social-menu li.fav-set {
    background: url(images/heart-icon.png) left center no-repeat
}
.services-listing01 a.small-button,
a.big-button,
a.icon-button {
    background: #368200!important;
    border: none!important;
    box-shadow: none!important;
    color: #fff!important;
    text-transform: uppercase;
    text-shadow: none!important;
    border-radius: 0!important;
    padding: 3px 16px;
    font-size: 14px
}
.wcs3-day-col,
.wcs3-hour-col,
.wcs3-hour-row-01-00,
.wcs3-schedule-wrapper table td,
table.wcs3-schedule-normal-layout {
    border: 1px solid #368200!important
}
.services-listing01 a.smallblue:hover,
a.bigblue:hover {
    color: #fff!important
}
.wcs3-schedule-wrapper table th {
    background: #fff!important
}
.wcs3-schedule-wrapper table td {
    padding: 0!important
}
.wcs3-active-cell {
    background: #f2ffe3!important
}
.wcs3-class-container {
    background: 0 0!important
}
.wcs3-day-col {
    font-size: 14px!important;
    color: #434443!important
}
#section_5 {
    margin: 30px 0
}
.read_more {
    cursor: pointer
}
.currencyBlock strong {
    color: #434443!important;
    font-size: 17px
}
.services-listing01 .one_fourth img {
    width: 74px;
    height: 74px;
    box-shadow: none
}
.submitBtn {
    background: url(../Bodikea/images/search-icon.png) center center no-repeat #368200!important;
    border: none!important;
    width: 68px;
    height: 64px;
    border-radius: inherit!important;
    box-shadow: 1px 3px 3px #62a57a;
    margin: 0!important
}
.ui-datepicker td a,
.ui-datepicker td span {
    width: 43px!important;
    height: 30px!important
}
@media only screen and (max-width: 1100px) {
    .et_pb_slide_description h2 {
        font-size: 48px
    }
    .submitBtn-outer {
        margin-right: 0
    }
    .search-result-page .et_pb_column_2_3,
    .search-result-page .et_pb_column_2_3 .et_pb_map {
        width: 500px
    }
    .services {
        width: 48.8%
    }
 
    .et_left_sidebar #sidebar,
    .et_right_sidebar #sidebar {
        width: 320px
    }
}
@media only screen and (max-width: 980px) {
    .menuheader .mobile_menu_bar {
        display: block;
        margin: 0 10px 9px 0;
        border: 1px solid #368200;
        width: 100%;
        height: 45px;
        line-height: 40px
    }
    .menuheader .mobile_menu_bar:before {
        color: #fff!important;
        float: right;
        background: #368200;
        height: 43px;
        line-height: 43px
    }
    .menuheader .menu li span {
        float: left;
        margin: -3px 8px 0 0
    }
    .menuheader .mobile_menu_bar span {
        float: left;
        margin: 0 7px 0 0;
        padding: 5px 0 0 15px
    }
    .menuheader .menu li a {
        text-align: left
    }
    .menuheader.fixed {
        top: 70px;
        width: 90%
    }
    #main-header.fixed {
        position: fixed
    }
    .profilePage .bk_profile_page .et_pb_text {
        width: 100%;
        margin-left: 0
    }
    .menuheader .menu {
        float: none;
        display: none;
        position: absolute;
        border: 1px solid #368200;
        margin: -1px 0 0;
        width: 100%;
        background: #fbfbf7
    }
    .mainBlockProfile,
    .menu li a.active {
        border-left: 0;
        border-right: 0;
        border-bottom: 1px solid #368200
    }
    .menuheader .menu li {
        float: none;
        width: 100%;
        border: none
    }
    .homePage .et_pb_slide.et_pb_bg_layout_light.et_pb_media_alignment_center.et-pb-active-slide {
        background: url(images/bg.jpg) center center no-repeat
    }
    .et_pb_pricing_table {
        width: 100%!important;
        margin-bottom: 20px!important
    }
    .p-table .priceTable01 {
        margin-top: 0
    }
    .et_pb_fullwidth_header {
        padding-top: 40px!important
    }
    .resultBlock {
        margin: 0 0 60px
    }
    .search-result-mobile {
        display: block
    }
    #et-main-area .et-tabs-container .et-tabs-control li.active:before,
    #et-main-area .et-tabs-control li span {
        display: none
    }
    #et-main-area .et-tabs-container .et-tabs-control li a {
        text-transform: inherit;
        font-size: 15px;
        text-align: left;
        border-bottom: solid 1px #ededed;
        padding: 10px 10px 10px 23px;
        font-weight: 400
    }
    #et-main-area .et-tabs-container .mobile_menu_bar:before {
        background: #368200;
        color: #fff!important;
        float: right;
        margin: -5px 14px 0 0
    }
    #main-header .mobile-view .main-header-search li {
        width: 100%
    }
    #main-header .searchOuter01 {
        width: 315px
    }
    #main-header .mobile-view .searchOuter01 {
        width: 100%
    }
    #main-header .mobile-view #field_7_2 {
        margin-left: 0!important
    }
    #main-header .mobile-view input.h-search {
        width: 93%
    }
    .et_pb_container .et_pb_slide_description {
        padding: 130px 0!important
    }
    .submitBtn {
        width: 60px;
        height: 60px
    }
 
    .mobile-icon01 {
        display: block;
        float: left;
        margin-top: 10px!important
    }
    .search-mobile-form,
    .search-mobile-form.mobile {
        display: none
    }
    .services-listing,
    .services-listing:nth-child(2n) {
        margin-right: 5px!important
    }
    .bk_practitioner_splash .et_pb_container .et_pb_slide_description {
        padding: 4% 0!important
    }
    .search-result-page .et_pb_fullwidth_header {
        margin-top: 5px
    }
    .nav-tabs-dropdown {
        height: 60px;
        border-bottom: solid 1px #a1a1a1;
        display: block;
        padding: 18px 0 0 55px;
        background: url(images/services-normal.png) 19px 13px no-repeat #fff;
        font-size: 15px;
        color: #368200;
        text-transform: uppercase
    }
    #et-main-area .et-tabs-container .et-tabs-control {
        overflow: auto;
        display: none
    }
    .et_mobile_menu li .sub-menu {
        display: none!important;
        border-top: 1px solid #a1a1a1;
        border-bottom: 1px solid #a1a1a1;
        padding: 0
    }
    .et_mobile_menu li .sub-menu li {
        padding-left: 0
    }
    .et_mobile_menu li:hover .sub-menu {
        display: block!important;
        background: 0 0
    }
    .et_mobile_menu li a:hover,
    .nav ul li a:hover {
        background-color: transparent
    }
    .et_mobile_menu .menu-item-has-children>a {
        font-weight: 400;
        background: url(images/down-arrow.png) 95% center no-repeat
    }
    .listTab {
        padding-right: 20px!important
    }
    .container,
    .et_pb_container,
    .et_pb_row {
        width: 700px
    }
    .search-List {
        width: 50%;
        float: left;
        min-height: 200px
    }
    .search-List:nth-child(2n) {
        border-left: 1px solid #aaa
    }
    .searchDataBox {
        padding-top: 0
    }
}
@media only screen and (max-width: 767px) {
    .special-text {
        display: none !important;
    }
    .search-List {
        width: 100%;
        float: none;
        min-height: auto
    }
    .search-List:nth-child(2n) {
        border-left: none
    }
    .et-tabs-container ul.et_shortcodes_mobile_nav {
        display: none!important
    }
    .search-result-page .et_pb_column.et_pb_column_1_2,
    .search-result-page .et_pb_column_2_3,
    .search-result-page .et_pb_column_2_3 .et_pb_map {
        width: 100%
    }
    .search-result-page .bkx_wrapper .top_label li.gfield.bkx_left_half,
    .search-result-page .bkx_wrapper .top_label li.gfield.bkx_right_half {
        width: 46%
    }
    .bkx_wrapper form li,
    .bkx_wrapper li {
        width: 100%!important
    }
    #et-main-area .search-result-page .et_pb_column.et_pb_column_1_2 .bk_search_results .bkx_wrapper form li,
    .bkx_wrapper li {
        width: auto!important
    }
    .submitBtn {
        width: 100%
    }
    .textFild {
        width: 100%!important
    }
    .container,
    .et_pb_container,
    .et_pb_row {
        width: 94%
    }
    .services {
        min-height: inherit
    }
    #main-header .mobile-view input.h-search {
        width: 91%
    }
    .tml-login .tml-rememberme-wrap {
        display: block
    }
    body.et_full_width_page .one_fourth {
        float: left!important;
        margin-right: 6%!important
    }
    #search_p_data.searchDataBox .three_fourth {
        width: 80%!important;
        float: right
    }
    #search_p_data.searchDataBox .three_fourth .one_half {
        float: left;
        padding: 0 28% 0 0
    }
    .et_pb_slide_description h3 {
        font-size: 16px
    }
    .et_pb_section,
    .et_pb_slider .et_pb_slide {
        height: 394px
    }
    .et_pb_section,
    .profilePage .et_pb_slider .et_pb_slide {
        height: auto
    }
}
@media only screen and (max-width: 600px) {
    .page.page-id-4635 ul.business-info-list li span.entry-view-field-value ul.bulleted li {
        width: 25%
    }
    .profile.section_2 .col-2,
    .profile.section_2 .col-3,
    .profile.section_3 .col-1,
    .profile.section_3 .col-2 {
        width: 100%
    }
}
@media only screen and (max-width: 560px) {
    #main-header .mobile-view input.h-search {
        width: 87%
    }
    .date-block label {
        width: 100%
    }
    .date-block .hasDatepicker {
        width: 100%!important;
        margin: 0!important
    }
}
@media only screen and (max-width: 479px) {
    .section_2 .col-2 {
        display: none!important
    }
    .href-btn,
    .right-link,
    .sticky-list-edit.submit {
        width: 100%;
        text-align: center
    }
    .header_link .right-link {
        display: none
    }
    .social-menu {
        float: left!important;
        margin-bottom: 0;
        margin-top: 30px
    }
    .social-menu li {
        margin: 0;
        padding: 0 4px!important
    }
    .social-menu li.fav,
    .social-menu li.fav-set {
        margin-right: inherit
    }
    .wcs3-schedule-wrapper {
        overflow: scroll
    }
    table.wcs3-schedule-normal-layout {
        width: 500px!important
    }
    #packages .col-1,
    #packages .col-2,
    #packages .col-3,
    #product .col-1,
    #product .col-2,
    #product .col-3 {
        float: none;
        width: 100%
    }
    .et_fixed_nav #logo {
        max-height: 34px
    }
    .profile.section_2 .col-3,
    .profile.section_3 .col-2 {
        margin: 30px 0 0
    }
    .iconsBlock:after {
        left: 17.5%;
        top: 58px
    }
    .nav-bar-filter,
    .service-menu {
        height: 50px;
        overflow: hidden
    }
    #product .col-3 .currencyBlock {
        display: inline-block;
        clear: both
    }
    .et_slidecontent {
        padding: 30px 10px!important
    }
    .et_pb_slide_content,
    a.et_pb_more_button {
        display: block!important
    }
    .profilePage .et_pb_fullwidth_header {
        padding-top: 15px!important;
        margin-top: -3px!important
    }
    .container,
    .et_pb_container,
    .et_pb_row {
        width: 90%
    }
    .homePage .et_pb_slide_description {
        padding: 40px 0!important
    }
    h1 {
        font-size: 28px!important
    }
    .staffCard .one_fourth {
        float: left!important;
        padding: 0 13px 0 0
    }
    .staffCard .three_fourth {
        float: right
    }
    .staffCard .one_fourth img {
        margin: 0;
        padding: 0;
        width: 75px;
        height: 75px
    }
    .card {
        padding: 12px
    }
    .staffCard {
        overflow: hidden;
        height: 92px
    }
    .staffCard:hover {
        height: auto
    }
    .customer_booking_form_wrapper.bkx_wrapper .bkx_page_footer.booking-page-footer .one_half {
        width: 100%
    }
    span.entry-view-field-name {
        width: 100%;
        padding: 0
    }
    span.entry-view-field-value {
        width: 100%;
        padding: 0 0 10px
    }
    .page.page-id-4635 ul.business-info-list li span.entry-view-field-value ul.bulleted li {
        width: 33.3%
    }
    .listTab {
        padding-right: 40px!important
    }
    .search-result-mobile li {
        width: 130px
    }
    #search_p_data.searchDataBox .three_fourth {
        width: 75%!important;
        float: right
    }
    #login-popup #theme-my-login1,
    #login-popup .header,
    #theme-my-login {
        padding: 5px
    }
    #login-popup .header h2 {
        font-size: 22px
    }
    #login-popup .newsociallogins {
        padding: 12px 10px
    }
    #fancybox-wrap div {
        max-width: 220px
    }
}
@media only screen and (max-width: 360px) {
    .section_2 .col-2 {
        display: none!important
    }
    .href-btn,
    .right-link,
    .sticky-list-edit.submit {
        width: 100%;
        text-align: center
    }
    .header_link .right-link {
        display: none
    }
    h1 {
        font-size: 28px!important
    }
    .rating01 {
        float: none;
        display: block;
        margin: 0
    }
    #main-header .mobile-view input.h-search {
        width: 82%
    }
    .page.page-id-4635 ul.business-info-list li span.entry-view-field-value ul.bulleted li {
        width: 50%
    }
    .search-result-page .bkx_wrapper .top_label li.gfield.bkx_left_half,
    .search-result-page .bkx_wrapper .top_label li.gfield.bkx_right_half {
        width: 46%
    }
    .listTab {
        padding-right: 7px!important
    }
    #search_p_data.searchDataBox .three_fourth {
        width: 65%!important;
        float: right
    }
    .ui-datepicker,
    .ui-datepicker-calendar {
        width: 100%!important
    }
    .social-menu {
        float: left!important
    }
    .social-menu li.fav {
        width: 100%;
        margin-bottom: 10px
    }
    .social-menu li {
        margin: 0;
        padding: 0 2px!important
    }
    .profilePage .et_pb_fullwidth_header {
        padding-top: 0!important;
        margin-top: 0!important
    }
}

.landingPage .et_pb_column_1_4 .et_pb_blurb_content {min-height: 373px;}
.special-text {float: left;width: 100%;text-align: center;color: #368200;font-size: 20px;word-spacing: 5px;margin-bottom: 10px;}
.spacer-dot{font-size: 25px;}
#et-main-area{margin-top: 70px;}
.first-banner-head .et_pb_bg_layout_dark {
    background: #368200 !important;
    margin-top: 0px !important;
    color : #FFFFFF !important;
    height:185px;
}
.first-banner-head .et_pb_slide_description{
padding :16px;
}
.first-banner-head .et_pb_slide_description h2{
  color : #FFFFFF !important;font-size:36px;
}

.first-banner-head a.et_pb_more_button:hover:after , 
.home_section_1 a.et_pb_more_button:hover:after,
.after-video-section a.et_pb_more_button:hover:after,
.home_section_last a.et_pb_more_button:hover:after{
    margin: 1px 0 4px !important;
}
.home-intro-video-section .et_pb_slide_description{
padding :16px;
}
.home-intro-video-section .et_pb_slide_content {
    width: 800px;
    text-align: center;
    display: inline-block;
    margin-left: 18px;
    margin-right: 18px;
}

.home-intro-video-section .et_pb_slide_description h2 {
    color: #fff !Important;
    font-weight: bold;
    margin-top: 18px;
    margin-bottom: 18px;
    font-size: 30px;
}
.home_section_1{
    height: 600px;
}
.bk_practitioner_splash_home .et_pb_bg_layout_dark{
    height: 600px;
}
.home_section_1 .et_pb_bg_layout_dark .et_pb_slide_description{
    width: 70%;
    float: left;
    text-align: left !important;
    margin-top: 20px !important;
    padding: 80px !important;
}
.home_section_1 .et_pb_slide_description h2{
    font-size: 40px !important;
    font-weight: bold !important;
    line-height: 64px;
    text-align: left!important;
    color: #fff !important;
    padding: 0;
    margin-bottom: 21px;
}
.home_section_1 .et_pb_slide_image{
    float: right;
    width: 100%;  
}
.home_section_1 .et_pb_slide_image img{
/*    margin-top: -155px !important;  */
}
.home_section_1 .et_pb_slide_image .active{
    float: right;
    width: 361px;
    height: 295px;
/*    margin-top: -155px !important;  */
}
.home_section_1 .learn-more{
    float: left;
    margin-top: 56px !important;
    background: #368200 !important;
    border: none !important;
    text-transform: uppercase;
    font-weight: bold;
}
.home_section_1 .sign-up-free{
    float: left;
    margin-left: 10px !important;
    text-transform: uppercase;
    margin-top: 31px;
    font-weight: bold;
}
.after-video-section,.start-growing{
    background: #368200 !important;
    text-align: center;
    color: #FFFFFF !important;
}
.after-video-section .et_pb_slide_description h2,.start-growing .et_pb_promo_description h2{
    color : #FFFFFF !important;
}
.after-video-section .et_pb_promo_button,.after-video-section .et_pb_more_button,.start-growing .et_pb_promo_button{
    border: 1px solid #fff!important;
    color : #FFFFFF !important;
}
.after-video-section .et_pb_bg_layout_dark{
    height : 161px !important;
}
.after-video-section .et_pb_slide_description{
    padding :50px !important;
}
.after-video-section .et_pb_slide_description h2{
    color: #FFFFFF !important;
    font-size: 31px !important;
    float: left;
    font-weight: bold!important;
}
.after-video-section .et_pb_more_button{
    margin-top:-15px !important;
    text-transform :uppercase;
    font-weight: bold;
}
.bk_practitioner_splash_home .et_pb_bg_layout_dark{
    background-color: #1f2520 !important;
    opacity: 0.90978874544;
}
.et_pb_main_blurb_image img{border-radius: 0 !important;-webkit-box-shadow: none !important;-webkit-border-radius: none !important;}
.home_section_last .et_pb_bg_layout_dark{
    height:434px;
}
.home_section_last .et_pb_slide_description{
    padding:92px !important;
}
.home_section_last .et_pb_slide_description h2{
    color: #fff !important;
    font-weight: bold;
    font-size: 2.8em;
    margin-bottom :40px;
}
.home_section_last .et_pb_slide_description .et_pb_more_button{
    background: #368200 !important;
    color: #fff  !important;
    border: none  !important;
    font-weight: bold;
    text-transform :uppercase;
}
