

.schedule-wrap .owl-carousel .owl-nav .owl-prev {
  color: #066595;
}

.schedule-wrap .owl-carousel .owl-nav .owl-next {
  color: #066595;
}

.booking-x .progress-wrapper h1 {
  color: #066595;
}

.booking-x .bg-blue {
  background: #066595;
}

.booking-x .progress-step.is-active .progress-title {
  color: #066595;
}

.booking-x .progress-step.is-active::after {
  background-color: #066595;
}

.booking-x .btn-rounded-success:after {
  background: #066595;
}

.booking-x .current-date-selected {
  color: #dc3545;
}

.booking-x .on-click-selected {
  background: #066595;
  color: #fff;
}

.booking-x .current-date-selected:after {
  color: #fff;
  border: 1px solid #dc3545;
}

.booking-x .current-date-selected:hover:after {
  background: #dc354533;
  color: #fff;
  border: 1px solid #dc3545;
}

.booking-x .calendar-yvv .calendar-month {
  background: #fff;
}

.booking-x .calendar-yvv .calendar-month .btn {
  color: #555555;
}

.booking-x .calendar-yvv .calendar-week {
  background: #fff;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}

.booking-x .select-time {
  border: #ebebeb;
}

/* Time Picker */
.booking-x .select-time {
  border: #ebebeb;
}

.booking-x .select-time .table td a {
  color: #555555;
}

.booking-x .select-time .table td a.disabled {
  background: #ebebeb;
}

.booking-x .select-time .table td a.selected {
  background: #e3f5ff;
}
.booking-x .select-time .table th {
  background: #066595;
  color: #fff;
  border-color: #066595;
}

.booking-x .indicator ul li {
  color: #555555;
}

.booking-x .indicator ul li::before {
  background: #ebebeb;
  border: #ebebeb solid 1px;
}

.booking-x .indicator ul li.booked::before {
  background: #ebebeb;
}

.booking-x .indicator ul li.open::before {
  background: #fff;
}

.booking-x .indicator ul li.current::before {
  background: #e3f5ff;
}

.booking-x .bkx-booking-form .bookingx-error {
  background: #b22222;
  color: #ffffff;
}

.booking-x .form-group label {
  color: #066595;
}

.booking-x .custom-select, .form-control {
  border: 2px #d7d7d7 solid;
}

.booking-x .custom-checkbox .custom-control-label > a {
  color: #066595;
}

.booking-x .custom-checkbox .custom-control-label::before {
  border: 2px #d7d7d7 solid;
}

.booking-x .has-error .custom-select, .has-error .form-control {
  color: #cf0000;
  border-color: #cf0000;
}

.booking-x .error-text {
  color: #cf0000;
}

/* Button */
.booking-x .btn.btn-default {
  color: #fff;
  background: #066595;
}

/* Detail */
.booking-x .user-detail {
  background: #f4f4f4;
}

.booking-x .user-detail dl dt {
  color: #555555;
}

.booking-x .user-detail dl dd {
  margin: 0px 5px 0px 10px;
}

.booking-x .total-text {
  color: #555555;
}

.booking-x .total-text > span {
  color: #066595;
}

.booking-x .button-wrapper {
  border-top: #959595 solid 1px;
}

.booking-x .grand-total {
  color: #fff;
}

.booking-x .check-text {
  color: #066595;
}