.booking-x .entry .entry-content a,
.booking-x .booking-x-bkx-seat .btn-primary,
.booking-x .booking-x-bkx-base .btn-primary,
.booking-x .booking-x-bkx-addition .btn-primary,
.booking-x .entry .entry-content a:visited {
    text-decoration: none;
}

.booking-x-orders-table__cell-booking-actions a{
    font-size: 15px;
}

.booking-x-dashboard .entry .entry-content .booking-x-orders-table__cell-booking-number a:visited,
.booking-x-dashboard .entry .entry-content .booking-x-orders-table__cell-booking-number a {
    color: #0073aa;
}

.booking-x .entry .entry-content, .entry .entry-summary {
    max-width: calc(100% - (2 * 1rem));
    margin: 0 1rem;
    padding: unset;
}

.booking-x-form .entry .entry-content > *,
.booking-x-dashboard .entry .entry-content > *,
.booking-x-form .entry .entry-summary > *,
.booking-x-form .entry .entry-summary > .wp-block-group > .wp-block-group__inner-container > *,
.booking-x-dashboard .entry .entry-content > .wp-block-group > .wp-block-group__inner-container > *,
.booking-x-form .entry .entry-content > .wp-block-group > .wp-block-group__inner-container > * {
    margin: 32px 0;
    max-width: 100%;
}

.booking-x-form .bkx-booking-form .step-3 a, .booking-x-form .bkx-booking-form .step-3 a:visited {
    color: #066595;
}

.booking-x-dashboard {
    .bkx-nav-tabs .nav-item a {
        color: #495057;
    }
    .bkx-nav-tabs .nav-item .active {
        color: #066595;
    }
    .table td, .table th{
        padding: 0.3rem;
        font-size: 18px;
    }
    body{
        font-size: 0.9em;
    }
}

   .booking-x-form .booking-x .select-time .table td a {
        padding: 3px 5px;
        font-size: 18px;
    }

    .booking-x-form .table td, .booking-x-form .table th {
        padding: 0.1rem;
    }

    .booking-x-form {
        .indicator ul {
            margin: 0 0 0.5em;
        }
        .indicator ul li {
            margin-right: 9px;
        }
        .bookingx-error {
            background: #b22222;
            color: #ffffff;
        }

    }

    /* Detail */
    .booking-x {
        .user-detail{ background: #f4f4f4;}
        .booking-x .user-detail dl dt { color: #555555;}
        .booking-x .user-detail dl dd {
            margin: 0px 5px 0px 10px;
        }
        .bkx-booking-form .indicator ul li.booked::before, .bkx-booking-form .select-time .table td a.disabled{
            color: #fff;
        }
        .btn-primary {
            color: inherit;
            background-color: inherit;
            border-color: inherit;
        }
        .calendar-yvv .calendar-month .btn {
            color: #333;
        }
        .bkx-booking-form .on-click-selected { background: #0073aa;color:#fff; }
    }
    .booking-x-dashboard {
        .form-group label {
            font-size: 18px;
            font-weight: normal;
        }
    }

    @media only screen and (min-width: 768px) {
        .booking-x .content-area {
            margin: 0 calc(5% + 60px);
        }

        .booking-x .entry .entry-header {
            margin: auto;
        }
        .booking-x .entry-title, .booking-x .not-found .page-title, .booking-x .error-404 .page-title, .booking-x .has-larger-font-size, .booking-x h2,.booking-x h3{
            font-size:1em;
        }
    }

    @media (max-width: 479px) {
        .booking-x-form ul, .booking-x-form ol {
            margin: 0 0 2rem 0;
        }
        .booking-x .form-group{
            margin-bottom: 10px;
        }
        .booking-x .step-2 .calender-setup #bkx-calendar{
            font-size: 0.8em;
        }
        .booking-x .step-2 .calender-setup #bkx-calendar .calendar-day .d-flex.btn{
            font-size: 0.7rem;
        }
        .booking-x .step-2 .calender-setup, .booking-x .step-2 .slots-setup {
            padding: inherit;
        }
        .booking-x .indicator ul li {
            margin: 10px;
        }
    }
